
/* #region RESET */
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
/* #endregion RESET */

/* #region general */
:root{
  --main-dark: #4E070C;
  --main-light: #FDE4CE; 
  --red: #D22701;
  --orange: #ffaa79;
  --green: #AAD15f;
  --light-blue: #72dddb;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--main-dark);
}

.App{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh
}

.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.text-center{
  text-align: center;
}

main{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* #endregion general */

/* #region HEADER */
  header{
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--green);
  }
/* #endregion HEADER */

/* #region ADD */
  .add{
    background-color: var(--red);
    & * + *{
      margin-left: 10px;
    }
    & select,
    & input{
      background-color: var(--orange);
      padding: 5px;
      border-radius: 15px;
      &:active{
        border-color: var(--green);
      }
    }
  }
/* #endregion ADD */

/* #region LIST */
.list{
  background-color: var(--main-light);
  font-size: 20px;
}

ul{
  overflow: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

li * + *{
  margin-left: 4px
}

input[type="checkbox"]{
  accent-color: var(--main-dark)
}
/* #endregion LIST */