
/* #region RESET */
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
/* #endregion RESET */

/* #region general */
:root{
  --main-dark: #4E070C;
  --main-light: #FDE4CE; 
  --red: #db1102;
  --orange: #ffaa79;
  --green: #AAD15f;
  --light-blue: #96e0df;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--main-dark);
}

.App{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh
}

.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.text-center{
  text-align: center;
}

main{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

input,
select{
  border: 2px solid var(--orange);
  &:focus{
    border: 2px solid var(--green);
    outline: none
  }
}

button{
  cursor: pointer;
  &:not(ul button){
    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--green);
    font-weight: 500;
    color:var(--main-dark);
    border: 2px solid var(--green)
  }
}
/* #endregion general */

/* #region HEADER */
  header{
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--green);
  }
/* #endregion HEADER */

/* #region ADD */
  .add{
    background-color: var(--red);
    & * + *{
      margin-left: 10px;
    }
    & select,
    & input{
      background-color: var(--orange);
      padding: 5px;
      border-radius: 15px;
    }
    & input{
      padding: 5px 15px;
    }
    & ::placeholder{
      color: color-mix(in srgb, var(--main-dark) 60%, transparent 40%)
    }
  }

  form{
    margin-top: 10px;
  }
/* #endregion ADD */

/* #region LIST */
.list{
  background-color: var(--main-light);
  font-size: 20px;
  & .container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  & p{
    margin-top: 20px;
    font-size: 25px;
  }
}

ul{
  overflow: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
  & button{
    background-color: transparent;
  }
}

li * + *{
  margin-left: 4px;
}

input[type="checkbox"]{
  accent-color: var(--main-dark);
  &:checked + *{
    text-decoration: line-through;
  }
}

.actions{
  width: fit-content;
  margin: 0 auto;
  margin-top: auto;
  & > * {
    border-radius: 15px;
    color: var(--main-dark)
  }
  & > select {
    padding: 5px;
    background-color: var(--orange);
  }
  & button {
    margin-left: 10px;
  }
}
/* #endregion LIST */

/* #region STATS */
.stats{
  background-color: var(--light-blue);
  font-size: 20px;
}
/* #endregion STATS */